*{
  margin:0;
  padding: 0;
  box-sizing: border-border-box;
}

.s1{
  background-color: #faf3f3;
}

.s2{
  background-color: #f3e595;
}
.s2-2{
  background-color: #dbf1f2;
}

.s3{
  background-color: #3b5360;
}

.s4{
  background-color: #7b6079;
}

.s5{
  background-color: #3b5360;
}
.s6{
  background-color: #7b6079;
}

.s7{
  background-color: #3b5360;
}

.s8{
  background-color: #3b5360;
}

.s9{
  background-color: #3b5360;
}


.profile{
  position: absolute;
  float: right;
  width: 600px;
  height: 600px;
  top:130px;
  right:90px;

}
.m1{
  position: absolute;
  float: right;
  width: 400px;
  height: 400px;
  top:80px;
  right:90px;

}

.m2{
  position: absolute;
  float: right;
  width: 400px;
  height: 200px;
  top:160px;
  right:90px;

}


.description{
  position: absolute;
  float: left;
  width: 600px;
  height: 400px;
  left: 80px;
  top:120px;
  font-family: 'Roboto', sans-serif;
  color: #194350;


}

.description2{
  position: absolute;
  float: left;
  width: 500px;
  height: 400px;
  left: 100px;
  top:100px;
  font-family: 'Roboto', sans-serif;
  color: #ffe9d6;

}

.descriptionright{
  position: absolute;
  float: left;
  width: 500px;
  height: 400px;
  left: 750px;
  top:160px;
  font-family: 'Roboto', sans-serif;
  color: #ffe9d6;
}

.descriptionright5{
  position: absolute;
  float: left;
  width: 500px;
  height: 400px;
  left: 750px;
  top:190px;
  font-family: 'Roboto', sans-serif;
  color: #ffe9d6;
}

.description2method{
  position: absolute;
  float: left;
  width: 600px;
  height: 400px;
  left: 100px;
  top:220px;
  letter-spacing: 0.005px;
  font-family: 'Roboto', sans-serif;
  color: #ffe9d6;

}



.descriptionrightmethod{
  position: absolute;
  float: left;
  width: 500px;
  height: 500px;
  left: 800px;
  top:105px;
  font-family: 'Roboto', sans-serif;
  color: #ffe9d6;

}

.descriptionrightmethod2{
  position: absolute;
  float: left;
  width: 500px;
  height: 400px;
  right: 150px;
  top: 460px;
  font-family: 'Roboto', sans-serif;
  color: #ffe9d6;

}


.descriptionfinal{
  position: absolute;
  text-align: center;
  width: 1050px;
  height: 400px;
  left: 150px;
  top:200px;
  font-family: 'Roboto', sans-serif;
  color: #ffe9d6;

}


.descriptionfinalmethod{
  position: absolute;
  text-align: left;
  width: 650px;
  height: 400px;
  left: 100px;
  top:100px;
  font-family: 'Roboto', sans-serif;
  color: #ffe9d6;

}


.descriptionfront{
  position: absolute;
  text-align: center;
  width: 1000px;
  height: 400px;
  left: 200px;
  top:200px;
  font-family: 'Roboto', sans-serif;
  color: #194350;

}


.end-click{
  position: absolute;
  text-align: center;
  width: 1000px;
  height: 400px;
  left: 500px;
  top:700x;

}

.image{
  position: absolute;
  float: center;
  width: 400px;
  height: 400px;
  left: 800px;
  top:250px;


}


.charts{
  position: absolute;
  float: right;
    width: 600px;
    height: 600px;
    left: 700px;
    top:180px;

}

.chartsdown{
  position: absolute;
  float: right;
    width: 550px;
    height: 1000px;

}


.chartspie{
  position: absolute;
  float: right;
  width: 400px;
  height: 400px;
  left: 750px;
  top:240px;
}

.chartspiedown{
  position: absolute;
  width: 280px;
  height: 280px;
}
