body{
  font-family: Arial, Helvetica, sans-serif;
}
.profile{
  width: 200px;
  float:right;
  margin:0 20px 20px 20px;
}

#textInfo{
  text-align: justify;

}

#menubar a{
  margin-right: 180px;
}

#footer{
  background-color: gray;
  padding:20px;
}

.section-left{
  dispaly: inline;
  float: left;
  width:20;
}

.section-right{
  dispaly: inline;
  float: right;
  width:20;
}
